body {
    background-color: #222831;
}
div .container{
    color: #31363F;
}


nav {
    
}
a {
    text-decoration: none;
    size: 40px;
    color: #EEEEEE ;
}

a:hover{
    color:#76ABAE;
    transition: 0.8ms;
}