html {
    background-color: #222831;
    color: #222831;
}

body {

    font-family: "Open Sans", sans-serif;
    background-color: #31363F;
    color: #31363F;
}
div.container {
    color: #31363F;
    background-color: #31363F;

}

ul.nav {
    text-decoration: none;
    
}

a.nav-item {
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    
}

.nav-link:hover{
    color:#76ABAE;
    transition: 1.8s;
}