
*{
    padding: 0;
    margin: 0;
    font-family: "Josefin slab", sans-serif;
}
body{
    /* background-color: #008DDA; */
    background-image: url(back.png);
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
          
    
}
/* -------------------------recursos---------------------------------  */
.hidden{
    visibility: hidden;
    display: none;
}

.show{
    visibility: visible;
}
/* ---------------------------recursos---------------------------------  */

/* -------------------------------------nav------------------------------ */
#headerContainer{
visibility: hidden;          
}

.navBar img{
    /* margin-top: 2rem;
    margin-left: 2rem; */
    width: 2rem;
    height: 2rem;
    background-color: #F7EEDD;
}

nav {
    padding-left: .9rem;
    padding-right: 1rem;
    background-color: #000000f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 4rem;
}
.navBar li {
    display: inline-flex;
    list-style: none;
}
.navBar  a {
    padding-right: 1.5rem;
    font-weight: 300;
    text-decoration: 0;
    font-size: 1.7rem;
    letter-spacing: 0.4rem;
    font-style: italic;
    position: relative;
    color: #41C9E2;
}

.navBar a:hover{
    color: #FF4365;
    /* background: #FFAA5A; */
}

.navBar ul li a::after{
    position: absolute;
    content: " ";
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -3px;
    background-color: #FFD25A;
}

.navBar ul li a:hover::after{
    content: " ";
    width: 65%;
    height: 3px;
    background-color: #FFD25A;
    transition: 0.5s;
}
/* -----------------------------------------nav-------------------------------- */

/* --------------------------------popup modal -------------------------------*/
.popup{
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.contentBox{
    display: flex;
    position: relative;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    box-shadow: -5px 5px 5px 0px rgb(12, 15, 11);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.content{
    display: flex;
    flex-direction: column;
}

.img {
    margin-left: -100px;
    height: 400px;
}
.contentBtn {
    font-weight: 900;
    margin-top: 35px;
    font-size: 2rem;
    color: #030301;
    text-align: center;
    border-radius: 20px;
    width: 8rem;
    height: 3rem;
} 

.contentBtn:hover {
   background-color: rgb(197, 144, 197);
   color: rgb(86, 31, 89);
}

.contentH2{
    background-color: #03030180;
    color: white;
    font-size: 2.5rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    /* animacion de tipeo */
    animation: 
            typing  2s steps(21),
            cursor .4s step-end infinite alternate;
/* ----------------------------popup modal-------------------------- */

          
}

/* ------------about-------------- */

#about {
    visibility: hidden;
}

.about-container{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.about{
    margin-bottom: 200px;
    margin-right: 200px;
    border-radius: 40px;
    box-shadow: -2px 2px 15px 6px rgb(4, 4, 4);

    
}
,.imgContain {

}
.imgContain img {
    height: 50rem;
    margin-top: 5rem;
    border-radius: 70px;
    box-shadow: -2px 2px 15px 6px rgba(255,255,255,0.98);
    
}


.about {
    padding-right: 10rem;
    background-color: #000000a7;
}
.about h1 {
    letter-spacing: .8rem;
    font-size: 7rem;
    color: white;
}
.about h1::first-letter{
    color: #FF4365;
}
.about h2{
    font-weight: 700;
    font-style: italic;
    letter-spacing: .1rem;
    font-size: 3rem;
    color: white;
}

.about h2::first-letter{
    color: #FF4365;
}

/* ------------about-------------- */




/*------------------------------ animacion de tipeo------------------------------ */
@keyframes cursor {
          50% {border-color: transparent;}
        }
          
@keyframes typing {
          from {width: 0}
          to { width: 100%;}

}

/* -----------------------------animacion de tipeo------------------------ */


/* -------------------------responsive-------------------------- */
@media (max-width : 767px){
          nav {
                    flex-direction: column;}
          .navBar li {
                    display: block;
                    width: 100%;
          }
          .contentBox{
                    width: 300px;
                    height: 200px;
                    font-size: 10px;
          }
}
/*-------------------------------- responsive ------------------------*/
